# Java
*.class
*.jar
*.war
*.ear
target/
build/

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Logs
*.log

# Crash logs
hs_err_pid*
